<br /><br /><br /><div class="container">
<div class="row center">
    <div class="col s6">
        <div class="card center">
            <div class="card-title center">
                <p>Lights On</p>
            </div>
            <div class="card-content center">
                <a href="/SawOneLightsOn" class="btn-floating btn-large waves-effect waves-light red ">
                    <i class="fas fa-plus"></i></a>
            </div>
        </div>
        </div>
        <div class="col s6">
            <div class="card center">
                <div class="card-title center">
                    <p>Lights Off</p>
                </div>
                <div class="card-content center">
                    <a href="/SawOneLightsOff" class="btn-floating btn-large waves-effect waves-light blue ">
                        <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>