<h5> Total Sightings:  <h3>{{sightings.length}}</h3></h5>
{{#each sightings}}
<div class="col s8 m4 offset-s8">
    <div class="card">
        <div class="card-content center-align">
            {{sighting.time}}
        </div>
    </div>
</div>

{{/each}}