<h5> Total Sightings{{sightings.length}}</h5>
{{#each sightings}}
<div class="col s12 m4">
    <div class="card">
        <div class="card-content center-align">
            {{this}}
        </div>
    </div>
</div>

{{/each}}