<br><br><br><h6>Sightings for Tonight</h6>
<p>Here are your sightings</p>

    <table class="striped">
        <thead>
            <tr class="headers">
                <th>Timestamp</th>
                <th>Lights on?</th>
            </tr>
        </thead>
        <tbody class="table-contents">
            {{#each sightings}}
            <tr>
                <td>{{createdAt}}</td>
                <td>{{lightsOn}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You haven't recorded any sightings yet.</p>

