<div class="card">
    <div class="card-title">
        <p>You've successfully
            registered and will be redirected to the
            login page
        </p>
    </div>
</div>
<script>
         setTimeout(function(){
            window.location.href = '/auth';
         }, 6500);
      </script>