
<div class="card">
    <div class="card-title">
        <h3> Register Yer Account and Yall can start countin</h3>
    </div>
    <form action="/auth/submitRegistration" method="POST">

        <div class="col s12 m6 card-content">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="col s12 m6 card-content">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button class="btn-large waves-effect waves-light blue lighten" type="submit">Register</button>
</div>
</form>
<a href="/auth">Login</a>